
<div class="row">
 
  <div class="col-sm-8 col-sm-offset-2">
    <h2> Nouveau Post:</h2>

    <form     (ngSubmit)="onSubmit(f)" #f="ngForm"   >
     
      <div class="form-group">
        <label for="titre">
          Titre:
        </label>
        <input type="text" id="titre" class="form-control"  name="titre" ngModel  required>
      </div>
      
 <div class="form-group">
        <label for="titre">
          Contenu:
        </label>
        <input type="text" id="contenu" class="form-control"  name="contenu" ngModel  required>
 </div>

  <button class="btn btn-primary"   type="submit" [disabled]="f.invalid" >Soummetre</button>
    </form>
  </div>
</div>