<!-- <ul class="nav navbar-nav">
<!  <li routerLinkActive="active"><a routerLink="posts">Mes posts</a></li> -->
<!--     <li routerLinkActive="active"><a routerLink="new">new</a>
</ul>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes Posts:</h2>
		<app-post-list [listPost]="posts"></app-post-list>
   </div>
  </div>
</div>
 -->
<!-- <ul class="nav navbar-nav">
  <li routerLinkActive="active"><a routerLink="posts">Mes posts</a></li>
    <li routerLinkActive="active"><a routerLink="new">new</a>
</ul> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>  -->



<ul class="nav navbar-nav">
  <li routerLinkActive="active"><a routerLink="posts">Pots</a></li>
    <li routerLinkActive="active"><a routerLink="new">Nouveau Post </a>
</ul>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>